[
  {bcp47, [
  	{create_missing_paths, true},
    {resource, "http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry"},
    {seed_path, "./priv/language-subtag-registry.txt"},
    {self_update_interval_minutes, 1440},
    {registry_path, "./priv/data/erlang_bcp47"}
  ]}
].
